.navbar{
    background-color: #f7f7f7;
    /* border: 1px solid red; */
    /* height: 50px; */
}

.navlink{
    text-decoration: none;
    color: #666;
    font-weight: 300;
    /* font-size: .9rem; */
    margin-right: 50px;
    margin-top: 5px;
}


@media (max-width: 1200px){
       .navlink{
        margin-right: 20px;
    }

}

@media (max-width: 400px){
       .navlink{
        display: block;
    }

}

@media (max-width: 991px){
    .headerMy{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


