.notfound{
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    background-image: url(../../img/notfound.png);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notfound-text {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.notfound-text button{
    border: none;
    margin-right: 20px;
    padding: 5px 10px;
    background-color: rgb(23,23,229);
    color: #fff;
    border-radius: 5px;
}